<!--
This launch file starts a pc2_to_file node which takes a PointCloud2 message
maps it to the target_frame and saves the values as a space delimited file.
-->

<launch>
  <node pkg="scan_to_pointcloud" type="pc2_to_file.py" name="pc2_to_file" >
    <param name="target_frame"       value="base_link"                          />
    <param name="pc2_topic"          value="rgb_cloud"                         />
    <param name="save_to"            value="/home/arc/pointclouds/jason/" />
  </node>
</launch>
